# macOS
.DS_Store

# Xcode
DerivedData/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
build/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# Klassiskt skräp
*.swp
*.swo
*~
